a.button.add-button {
  width: 100px;
  margin: 6px;
}

td.name {
  width: 200px;
}

td.delete-cell {
  width: 60px;
}

.failing input {
  background-color: #da002c;
  color: #fff;
}

.active-test {
  background-color: #ccfdcc;
}
